#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  background-color: #faf9f8;
}

.canvas-container {
  width: 100vw;
}

.nav-buttons-wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}
